  <div class="row border my-4 mx-1">
    <div class="col-md-3 p-4 text-center">
      <img
          src="{{model.diputado.fotoPerfil}}"
          alt="{{model.diputado.nombre}}"
          border="0"
          class="img-responsive center-block w-75"
        >
    </div>

    <div class="col-md-5 p-4 d-block d-sm-flex">
      <div class="w-100 text-left">
        <h2>{{model.diputado.nombre}}</h2>
        <table class="table">
          <tbody>
            {{#each-in model.diputado.informacionGeneral as |key item|}}
              <tr>
                <td class="p-0">
                  <small>
                    {{#if item.label}} <strong>{{{item.label}}}</strong> {{/if}}
                    {{{item.value}}}
                  </small>
                </td>
              </tr>
            {{/each-in}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4 social-side text-center d-block p-4">
      <div>
        <img src="{{model.diputado.fotoInstitucionUrl}}" alt="{{model.diputado.partidoactual}}">
        {{#each documentosDisponibles as |documento|}}
          <p class="datos-abiertos">
            <a
              href="{{documento.urlDocumento}}"
              class="btn btn-primary w-100 text-white"
              target="_blank"
              style="font-weight: 400;"
            >
              {{documento.nombreDocumento}}
            </a>
          </p>
        {{/each}}
      </div>
      <div class="d-block mt-3">
        <div class="my-4">
          <a href="{{mode.diputado.tw}}" target="_blank"><i class="fa fa-twitter mr-1"></i><br>{{model.diputado.tw}}</a>
        </div>
        <div>
          <a href="{{model.diputado.fb}}" target="_blank"><i class="fa fa-facebook mr-1"></i><br>{{model.diputado.nombre}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex"><img src="img/logo-documento.png" alt="Biografía" height="75"><h4>Biografía</h4></div>
        <div class="body">
          {{model.diputado.biografia}}
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex"><img src="img/logo-documento.png" alt="Biografía" height="75"><h4>Trayectoria</h4></div>
        <div class="body">
          {{model.diputado.trayectoria}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="panel resultados">
        <div class="header"><h4>Resultados de evaluación</h4></div>
        <div class="body tabla-gradacion-content">
          {{#if model.resultadosEvaluaciones}}
            {{#each model.resultadosEvaluaciones as |resultadoEvaluacion|}}
              <div class="row">

                <div class="col-2 text-center foto-container">
                  <img
                    src="{{resultadoEvaluacion.perfil.fotoPerfil}}"
                    alt="{{resultadoEvaluacion.perfil.nombre}}"
                    class="img-responsive center-block"
                    style="max-width: 100px;"
                  >
                </div>
                <div class="col-6 text-center text">
                  <h6>{{resultadoEvaluacion.perfil.nombre}}</h6>
                </div>
                <div class="col-4">
                  <span class="badge-primary badge text-white py-3">{{resultadoEvaluacion.resultado}}</span>
                </div>
              </div>
            {{/each}}
          {{else}}
            <h6>No hay evaluaciones.</h6>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
