<div class="container-profile">
  <div class="profile-candidate perfil-container">
    <div class="row">
      <div class="col-md-3">
        <div id="candidate-img-profile" style="padding-top: 20px;">
          <img
            src="{{model.perfil.fotoPerfil}}"
            alt="{{model.perfil.nombre}}"
            border="0"
            class="img-responsive center-block"
          >
        </div>
      </div>

      <div class="col-md-5">
        <h3 style="padding-left: 0px;">{{model.perfil.nombre}}</h3>
        <table class="table">
          <tbody>
            {{#each-in model.perfil.informacionGeneral as |key item|}}
              <tr>
                <td>
                  {{#if item.label}}<span>{{{item.label}}}</span>{{/if}}
                  {{{item.value}}}
                </td>
              </tr>
            {{/each-in}}
          </tbody>
        </table>
      </div>

      <div class="col-md-4 social-side" style="padding-left: 40px; padding-right: 40px;">
        {{#each documentosDisponibles as |documento|}}
          <p class="datos-abiertos">
            <a
              href="{{documento.urlDocumento}}"
              class="btn btn-{{documento.cssClasses}} width-full"
              target="_blank"
              style="font-weight: 400;"
            >
              {{documento.nombreDocumento}}
            </a>
          </p>
        {{/each}}

        <ul class="list-inline text-center" style="font-size: 16px;display:flex;">
          {{#if model.perfil.tw}}
            <li style="display:flex;">
              <i class="fa fa-twitter" style="font-size: 20px;"></i>
              <a
                href="https://twitter.com/{{model.perfil.tw}}"
                class="social-link-candidate"
                target="_blank">@{{model.perfil.tw}}
              </a>
            </li>
          {{/if}}

          {{#if model.perfil.fb}}
            <li style="display:flex;">
              <i class="fa fa-facebook-official" style="font-size: 20px;"></i>
              <a
                href="{{model.perfil.fb}}"
                class="social-link-candidate"
                target="_blank"
              >
                {{model.perfil.nombre}}
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row perfil-container">
  <div class="col-md-12" style="display:flex;">
      <img
      src="/app/img/logo-documento.png"
      alt="Biografía"
      style="width: 60px; height:60px; margin: 10px 30px 10px 10px;">
      <h3 style="margin-top:auto;margin-bottom:auto;">Biografía</h3>
  </div>
  <div class="col-md-12" style="margin-top: 10px;">
    <p class="justify">{{model.perfil.biografia}}</p>
  </div>
</div>

<div class="buffer-top-30 row" style="margin-bottom: 30px;">

  <div class="col-md-6">
    <div class="row perfil-container" style="height: 30rem;  margin-right: 2px;">
      <div class="col-md-12" style="display:flex;">
          <img
          src="/app/img/logo-libro.png"
          alt="Experiencia academica"
          style="width: 60px; height:60px; margin: 10px 30px 10px 10px;">
          <h3 style="margin-top:auto;margin-bottom:auto;">Experiencia academica</h3>
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <p class="justify">{{model.perfil.experienciaAcademica}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row perfil-container" style="height: 30rem; margin-left: 2px;">
      <div class="col-md-12" style="display:flex;">
          <img
          src="/app/img/logo-portafolio.png"
          alt="Experiencia profesional"
          style="width: 60px; height:60px; margin: 10px 30px 10px 10px;">
          <h3 style="margin-top:auto;margin-bottom:auto;">Experiencia profesional</h3>
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <p class="justify">{{model.perfil.experienciaProfesional}}</p>
      </div>
    </div>
  </div>

</div>

<div>
  {{#each-in model.perfil.recuadros as |key item|}}
    <div class="panel panel-default">
      {{#if item.label}}<div class="panel-heading font-weight-600">{{{item.label}}}</div>{{/if}}

      <div class="panel-body">
        {{{item.value}}}
      </div>
    </div>
  {{/each-in}}
</div>

{{#if disqusShortname}}
  {{disqus-comments identifier=model.perfil.disqusIdentifier}}
{{/if}}
