<div class="container">

  <div class="row border my-4">
    <div class="col-md-3 p-4">
      <img
          src="{{model.perfil.fotoPerfil}}"
          alt="{{model.perfil.nombre}}"
          border="0"
          class="img-responsive center-block w-100"
        >
    </div>

    <div class="col-md-5 p-4 d-block d-sm-flex">
      <div class="w-50 text-left">
        <h2>{{model.perfil.nombre}}</h2>
        <table class="table">
          <tbody>
            {{#each-in model.perfil.informacionGeneral as |key item|}}
              <tr>
                <td class="border-0 p-0">
                  <small>
                    {{#if item.label}}{{{item.label}}}{{/if}}
                    {{{item.value}}}
                  </small>
                </td>
              </tr>
            {{/each-in}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4 social-side text-center d-block p-4">
      <div>
        <img src="{{model.perfil.fotoUrlPartido}}" alt="{{model.perfil.partidoactual}}">
      </div>
      <div class="d-block mt-3">
        <div>
          <a href="{{mode.perfil.tw}}" target="_blank"><i class="fa fa-twitter mr-1"></i>{{model.perfil.tw}}</a>
        </div>
        <div>
          <a href="{{model.perfil.fb}}" target="_blank"><i class="fa fa-facebook mr-1"></i>{{model.perfil.nombre}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex"><h4>Biografía</h4></div>
        <div class="body">
          {{model.perfil.biografia}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="panel">
        <div class="header"><h4>Experiencia academica</h4></div>
        <div class="body">
          {{model.perfil.experienciaAcademica}}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="panel">
        <div class="header"><h4>Experiencia profesional</h4></div>
        <div class="body">
          {{model.perfil.experienciaProfesional}}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="panel">
        <div class="header"><h4>Plan de trabajo</h4></div>
        <div class="body">
          {{model.perfil.planTrabajo}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="panel">
        <div class="header"><h4>Tabla de gradación</h4></div>
        <div class="body"></div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="panel">
        <div class="header"><h4>Tachas</h4></div>
        <div class="body">
          {{#if (eq 0 tachas)}}
            <div class="row tabla-tachas-header">
              <div class="col-12 text-center">No se encontraron tachas asociadas al candidato</div>
            </div>
          {{else}}
            <div class="row tabla-tachas-header hidden-xs">
              <div class="col-1 col-md-1 text-center icon-container">
                No.
              </div>
              <div class="col-6 col-md-7 col-md-offset-0 text-container">
                Tacha
              </div>
              <div class="col-4 col-md-4">
                Presentada por
              </div>
            </div>

            {{#each model.tachas as |tacha index|}}
              <a href={{tacha.tachaUrl}} target="_blank" class="row">
                <div class="col-1 text-center icon-container">
                  {{add index 1}}
                </div>

                <div class="col-7 col-md-7 col-md-offset-0 text-container">
                  {{{tacha.tacha}}}
                </div>

                <div class="col-4 col-md-4">
                  {{{tacha.presentadoPor}}}
                </div>
              </a>
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>

</div>
