<div class="container-profile">
  <div class="profile-candidate">
    <div class="row">
      <div class="col-md-3">
        <div id="candidate-img-profile" style="padding-top: 20px;">
          <img
            src="{{model.perfil.fotoPerfil}}"
            alt="{{model.perfil.nombre}}"
            border="0"
            class="img-responsive center-block"
          >
        </div>
      </div>

      <div class="col-md-5">
        <h3 style="padding-left: 0px;">{{model.perfil.nombre}}</h3>
        <table class="table">
          <tbody>
            {{#each-in model.perfil.informacionGeneral as |key item|}}
              <tr>
                <td>
                  {{#if item.label}}<span>{{{item.label}}}</span>{{/if}}
                  {{{item.value}}}
                </td>
              </tr>
            {{/each-in}}
          </tbody>
        </table>
      </div>

      <div class="col-md-4 social-side" style="padding-left: 40px; padding-right: 40px;">
        {{#each documentosDisponibles as |documento|}}
          <p class="datos-abiertos">
            <a
              href="{{documento.urlDocumento}}"
              class="btn btn-{{documento.cssClasses}} width-full"
              target="_blank"
              style="font-weight: 400;"
            >
              {{documento.nombreDocumento}}
            </a>
          </p>
        {{/each}}

        <ul class="list-inline text-center" style="font-size: 16px;display:flex;">
          {{#if model.perfil.tw}}
            <li style="display:flex;">
              <i class="fa fa-twitter" style="font-size: 20px;"></i>
              <a
                href="https://twitter.com/{{model.perfil.tw}}"
                class="social-link-candidate"
                target="_blank">@{{model.perfil.tw}}
              </a>
            </li>
          {{/if}}

          {{#if model.perfil.fb}}
            <li style="display:flex;">
              <i class="fa fa-facebook-official" style="font-size: 20px;"></i>
              <a
                href="{{model.perfil.fb}}"
                class="social-link-candidate"
                target="_blank"
              >
                {{model.perfil.nombre}}
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="biografia-container" class="row">
  <div class="col-md-3 text-center">
    <img
      src="app/img/logo-libro.png"
      class="img-responsive center"
      style="max-width: 120px; margin-top: 20px; margin-bottom: 20px;" />
  </div>
  <div class="col-md-8">
    <h3>Biografía</h3>
    <p style="margin-bottom: 30px;" class="justify">
      {{model.perfil.biografia}}
    </p>
  </div>
</div>

<div class="buffer-top-30 row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading font-weight-600">Experiencia profesional</div>

      <div class="panel-body justify">
        {{model.perfil.experienciaProfesional}}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading font-weight-600">Experiencia académica</div>

      <div class="panel-body justify">
        {{model.perfil.experienciaAcademica}}
      </div>
    </div>
  </div>

  {{#each-in model.perfil.recuadros as |key item|}}
    <div class="panel panel-default">
      {{#if item.label}}<div class="panel-heading font-weight-600">{{{item.label}}}</div>{{/if}}

      <div class="panel-body">
        {{{item.value}}}
      </div>
    </div>
  {{/each-in}}
</div>

{{#if disqusShortname}}
  {{disqus-comments identifier=model.perfil.disqusIdentifier}}
{{/if}}
