{{head-layout}}

{{title "Elección CGC"}}

<div class="wrapper" style="min-height: 100%; position: relative;">

    {{partial 'navbar'}}

    <main>
      {{outlet}}
    </main>

    {{partial 'footer'}}

</div>