<img src="/img/slider.png" alt="" width="100%" class="d-none d-md-block">
<div class="container">
    {{!-- Status banner --}}
    <div class="row status-banner text-center text-white pb-5">
      <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
        <div style="background-color: #1b2b3a; color: #ffffff; padding: 18px; font-weight: 600;">
          <span style="font-size: 34px;">
            {{{model.config.procesoEleccionTitulo}}}
          </span>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 visible-xs" style="background-color: #ffc80f; color: #ffffff; padding: 18px;">
        <div class="col-md-12">
          {{{model.config.procesoEleccionPasoActual}}}
        </div>
      </div>

      <div class="col-xs-12 col-md-6 visible-xs" style="background-color: #75bbcc; color: #ffffff; padding: 18px;">
        {{{model.config.procesoEleccionSiguientePaso}}}
      </div>
    </div>
    {{!-- Power Select & Filters --}}
    <div class="row justify-content-center mx-5 my-5 bg-light p-3">
        {{!-- PowerSelect --}}
        <div class="col-12 text-center">
            <h5>Conoce a los candidatos y candidatos para la elección de Contralor General Cuentas</h5>
            <div class="w-75 mx-auto p-2">
                {{#power-select
                selected=currentCandidato
                options=model.perfiles
                onchange=(route-action 'selectPerfil')
                searchField='nombre'
                placeholder='Busca a tu candidato o candidata'
                noMatchesMessage='Sin resultados'
                as |candidato|
                }}
                <strong>{{candidato.nombre}}</strong>
                {{/power-select}}
            </div>
        </div>
        {{!-- Filters --}}
        <div class="col-12 text-center filters">
            <strong>Filtrar por:</strong>
            <label>
            {{one-way-checkbox
                esMujer
                update=(queue
                (action (mut esMujer))
                (action 'applyFilter'))
            }}
            Mujer
            </label>
            <label>
            {{one-way-checkbox
                esHombre
                update=(queue
                (action (mut esHombre))
                (action 'applyFilter'))
            }}
            Hombre
            </label>
            <label>
            {{one-way-checkbox
                estaEnProceso
                update=(queue
                (action (mut estaEnProceso))
                (action 'applyFilter'))
            }}
            En proceso
            </label>
            <label>
            {{one-way-checkbox
                esFinalista
                update=(queue
                (action (mut esFinalista))
                (action 'applyFilter'))
            }}
            Finalista
            </label>
            <label>
            {{one-way-checkbox
                estaDescalificado
                update=(queue
                (action (mut estaDescalificado))
                (action 'applyFilter'))
            }}
            Descalificado
            </label>
        </div>
    </div>
</div>
{{!-- Portfolio --}}
{{#if model.config.useFrontPortfolioVisualization}}
  <div class="container-fluid bg-white pb-4">
    <div>
    {{front-portfolio
      perfiles=model.perfiles
      onDidInsertElement=(action 'applyFilter')
      onDidRender=(action 'applyFilter')
    }}
    </div>
  </div>
{{/if}}

{{!-- Calcular isotope al cargar perfiles --}}
<script>
var $container = $('#portfolio');

$container.isotope({transitionDuration: '0.65s'});

$container.isotope({filter: '.enProceso'});
</script>

<div class="container">
    <div class="row colaboradores pb-5">
        <div class="col-12 text-center">
            <h5 class="font-weight-light">Un proyecto de:</h5>
            <a href="http://redciudadana.org/" target="_blank noopener"><img src="img/RED.png" alt="Logo de Red Ciudadana"></a>
            <a href="https://twitter.com/AlianzaRgt" target="_blank noopener"><img src="img/ALIANZA_REFORMAS.jpg" alt="Logo de ALIANZA REFORMAS"></a>
            <a href="https://iccpg.org.gt/" target="_blank noopener"><img src="img/ICCPG.png" alt="Logo de ICCPG"></a>
        </div>
    </div>
</div>
